{% extends 'base.html.twig' %}

{% block title %}New Hopitaux{% endblock %}

{% block body %}
    <h1>Create new Hopitaux</h1>

    {{ include('hopitaux/_form.html.twig') }}

    <a href="{{ path('hopitaux_index') }}">back to list</a>
{% endblock %}
